
.icon-bucket:before { content: '\e800'; } /* '' */
.icon-brush:before { content: '\e801'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */